<div class="card mb-3 mx-1 text-center card-outline">
    <div class="card-header">
        <h3 class="project-title">{{title}}</h3>
    </div>
    <div class="card-body">
        <h3>{{clientName}}</h3>
        <p>{{description}}</p>
        <p>Due: {{project_due}}</p>
        <p>Rate: {{rate}}</p>
        <a href="/project/{{id}}"><button class="btn btn-primary ">View Project</button></a>
        </div>
</div>
